<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Error has occured</h1>
    <p>we are trying to fix the problem , we are sorry!</p>
    <p>Cause: <%= err.message %></p>
<%- include('includes/end.ejs') %>